{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "dynamicImport": true
        },
        "transform": {
            "legacyDecorators": true,
            "decoratorMetadata": true
        }
    }
}